.Modal1 {
  position: fixed;
  height: 80%;
  z-index: 500;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 18%;
  right: 10%;
  bottom: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow: scroll;
  width: 830px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

/* @media (max-width: 992px) {
  .Modal1 {
    width: 600px;
  }
}

@media (max-width: 738px) {
  .Modal1 {
    width: 500px;
  }
}

@media (max-width: 604px) {
  .Modal1 {
    width: 400px;
  }
}

@media (max-width: 492px) {
  .Modal1 {
    width: 275px;
    left: 19%;
  }
} */
