.Title h2 {
  font-size: 30px;
  color: #c8c8c8;
}
.PokeHidden {
  width: 130px;
  height: 157px;
  font-size: 30px;
}
.Deck {
  display: flex;
  justify-content: space-around;
}
.GuessButton {
  background: #c8c8c8;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%
}
.ShowMyDeck {
  background: #c8c8c8;
  border: none;
  color: white;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  width: 100%
}

.InputPokemon {
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%
}

.ProgressBar {
  margin: 5px 0;
  width: 100%;
  background: #c8c8c8;
  height: 10px;
  width: 100%
}

.Pokeimg img {
  background: #c8c8c8;
  border-radius: 50%;
  margin: 10px;
  width: 150px;
}

.Guessed {
  position: relative;
}
.ProgressText {
  position: absolute;
  left: 0;
  right: 0;
  top: -3px;;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.ShowedImg {
  cursor: pointer;
}

.Input-Guess {
  display: flex
}

@media (max-width: 380px) {
  .Input-Guess {
    display: block
  }
  .Title h2{
    font-size: 1.5rem
  }
 .Pokeimg img {
  width: 130px;

 }
}

