.Modal {
  position: fixed;
  height: 80%;
  z-index: 500;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 18%;
  bottom: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow: scroll;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}


.Xbutton{
  position: absolute;
  top: 0;
  right: 10px;
  width: 23px;
  height: 23px;
  margin: auto 0;
  opacity: 0.1;
  margin-bottom: 11px;
  cursor: pointer;

}

.Xbutton:hover {
  color: #777;
  opacity: 0.6
}

.Xbutton:before, .Xbutton:after {
position: absolute;
left: 9px;
bottom: 3px;
content: ' ';
height: 25px;;
width: 2px;
background-color: #333;

}
.Xbutton:before {
transform: rotate(45deg);
}
.Xbutton:after {
transform: rotate(-45deg);
}

